Repository OpenTrafficCam/OTDocs, pull requests merged in 2021-11, with the labels that each got.

#67 OTValidate
  .gitignore
  docs/OTLabels/training/assets/confusion_matrix_binary.drawio
  docs/OTLabels/training/assets/confusion_matrix_binary.svg
  docs/OTLabels/training/assets/confusion_matrix_multi.drawio
  docs/OTLabels/training/assets/confusion_matrix_multi.svg
  docs/OTLabels/training/assets/iou.drawio
  docs/OTLabels/training/assets/iou.svg
  docs/OTLabels/training/assets/otvalidate_overview.drawio
  docs/OTLabels/training/assets/otvalidate_overview.svg
  docs/OTLabels/training/performancemeasures.md
  docs/OTLabels/training/validation.md
  docs/assets/js/mathjax.js
  mkdocs.yml
Labels: OTValidate

#64 accuracy and sensitivy of the actual used workflow
  docs/OTAnalytics/Accuracy/counts.md
  docs/OTAnalytics/Accuracy/counts/3-way_intersection.png
  docs/OTAnalytics/Accuracy/counts/4-way_intersection_1.png
  docs/OTAnalytics/Accuracy/counts/4-way_intersection_2.png
  docs/OTAnalytics/Accuracy/counts/4-way_intersection_2_night.png
  docs/OTAnalytics/Accuracy/counts/4-way_roundabout_flat.png
  docs/OTAnalytics/Accuracy/counts/section_1.png
  docs/OTAnalytics/Accuracy/counts/section_2.png
  docs/OTAnalytics/Accuracy/counts/section_2_night.png
  docs/contribute/documentation.md
  mkdocs.yml
Labels: feature, OTAnalytics

#70 Move validation chapter up one level in the document tree and split up into logical sections
  docs/OTLabels/validation/assets/confusion_matrix_binary.drawio
  docs/OTLabels/validation/assets/confusion_matrix_binary.svg
  docs/OTLabels/validation/assets/confusion_matrix_multi.drawio
  docs/OTLabels/validation/assets/confusion_matrix_multi.svg
  docs/OTLabels/validation/assets/iou.drawio
  docs/OTLabels/validation/assets/iou.svg
  docs/OTLabels/validation/assets/otvalidate_overview.drawio
  docs/OTLabels/validation/assets/otvalidate_overview.svg
  docs/OTLabels/validation/gettingstarted.md
  docs/OTLabels/validation/metrics.md
  docs/OTLabels/validation/overview.md
  docs/index.md
  mkdocs.yml
Labels: OTValidate

#71 OTCamera-requirements
  docs/OTCamera/gettingstarted/pcb3d.jpeg
  docs/OTCamera/gettingstarted/requirements.md
Labels: feature, OTCamera

#72 Remove OTAnalytics related content
  docs/OTVision/gettingstarted/installation.md
Labels: bug, OTVision

#74 Replace OTAnalytics with OTVision
  docs/OTVision/gettingstarted/installation.md
Labels: bug, OTVision
